/* General Styles */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: whitesmoke;
}





/* Header Styles */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2% 5% 2% 10%;
  background-color: #fffcf9;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    z-index: 9999; /* Set a high value */
}

.logo img {
  height: 50%;
  width: 50%;
}


/* nav list */


.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 50px;
}

.nav ul {
  display: flex;
  list-style: none;
}

.nav li {
  margin-left: 20px;
}

.nav a {
  text-decoration: none;
  color: #333;
  font-weight: thin;
  font-size: 18px;
}






/* nav list toggle */

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.dropdown {
  position: relative;
}


.dropdown ul {
  display: none;
  position: absolute;
  z-index: 999;
  padding: 10px;
  margin: 1px 0 0 -1px;
  list-style: none;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.4);
 width: 250px; /* adjust as needed */
}


.dropdown:hover > ul {
  display: block;
}

.dropdown li {
  position: relative;
}

.dropdown ul li {
  float: none;
}

.dropdown ul ul {
  top: 0;
  left: 100%;
}

.dropdown a {
  display: block;
  padding: 10px;
  color: #333;
  text-decoration: none;
}

.dropdown ul li a {
  padding: 5px 10px;
  color: #333;
}

.dropdown ul li a:hover {
  background-color: none;

}

.dropdown:hover > a {
  background-color: none;


}

.dropdown ul:before {
  content: "";
  position: absolute;
  bottom: 100%;
  left: 20px;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid white;
}




/* main Styles */
.main {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333333;
}



* {box-sizing: border-box;}

/* Section1 Styles */


.container {

  margin: 0 auto;
  text-align: center;
}
.description1 {
  position: relative;
  top: 100px;
  padding: 0;
  align-items: center;
}
.description1 h2 {
  font-size: 80px;
  font-weight: bold;
  margin-bottom: 20px;
  text-align: center;
  color: white;
}
.description1 p {
 font-size: 150%;
  font-weight: 300;
  text-align: center;
   color : white;

}

@media (min-width: 992px) {
  .description1 {
    position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(50%, -50%);
    z-index: 1;
    width: 50%;
  }
}

.row {
  height: 800px;
background-color: lightblue;
  background-size: cover;
  background-position: center;
  transform: translate(0%, -10%);

}



.hero-image {
  padding: 100px 0;
}

.hero-text {
  padding: 10px;
}

.hero-text h1 {
  font-size: 48px;
  font-weight: bold;
  margin-bottom: 30px;
}

.hero-text p {
  font-size: 24px;
  margin-bottom: 30px;
}


.btn {
  display: inline-block;
  background-color: #007bff;
  color: #fff;
  font-size: 20px;
  padding: 10px 20px;
  border-radius:10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease;
  text-decoration: none;
 
}

.btn:hover {
  background-color: #0062cc;
}

@media (max-width: 767px) {
  .hero-text {
    padding: 20px;
  }

  .hero-text h1 {
    font-size: 36px;
  }

  .hero-text p {
    font-size: 20px;
  }

  .image-container {
    height: 300px;
  }
}

/* Our team */

.about-us {

  padding: 0 0;
}

.container-1 {
 text-align: center;
  margin: 0 auto;
  padding: 0 10%;
  margin-top: -5%;
}

.container-1 h2{
font-size: 300%;
}
.container-1 p{
font-size: 150%;
  font-weight: 300;


}
.team-members {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px;
}

.team-member {
  text-align: center;
  margin: 0 20px 50px;
}

.team-member img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
  object-position: center;
  margin-bottom: 20px;
}

.team-member p:first-child {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 5px;
}

.team-member p:last-child {
  font-size: 1em;
  color: #888;
  margin: 0;
}






/* footer Styles */
.footer {
  background-color: #f2f2f2;
 padding: 5% 5% 5% 10%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  font-family: Arial, sans-serif;
}

.footer h3 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #333;
}

.footer-column {
  width: calc(15% - 20px);
  margin-right: 20px;
}

.footer-column:last-child {
  margin-right: 0;
}

.footer-column ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-column li {
  margin-bottom: 10px;
}

.footer-column a {
  color: #666;
  text-decoration: none;
  transition: color 0.2s;
}

.footer-column a:hover {
  color: #333;
}

.footer-social {
  width: calc(20% - 40px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
}

.footer-social img {
  width: 50px;
  height: 50px;
  margin-right: 1px;
  border-radius: 50%;
  transition: transform 0.2s;
}

.footer-social img:hover {
  transform: scale(1.1);
}

@media only screen and (max-width: 768px) {
  .footer-column {
    width: calc(50% - 20px);
    margin-right: 20px;
    margin-bottom: 20px;
  }
  
  .footer-column:last-child {
    margin-right: 0;
  }
  
  .footer-social {
    width: 100%;
    margin-top: 20px;
  }
.fa {
  padding: 5px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-google {
  background: #dd4b39;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}



